<nav class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <img
            class="block h-8 w-auto lg:hidden rounded-full"
            src="https://avatars.githubusercontent.com/u/583231?v=4"
            alt="Github user search"
          />
          <img
            class="hidden h-8 w-auto lg:block rounded-full"
            src="https://avatars.githubusercontent.com/u/583231?v=4"
            alt="Github user search"
          />
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
        <a
          href="#"
          class=""
          [ngClass]="{
            'inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium': true,
            'border-indigo-500 text-gray-900': isHome,
            'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700':
              !isHome
          }"
          >Home</a
        >
        <a
          href="#"
          [ngClass]="{
            'inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium': true,
            'border-indigo-500 text-gray-900': isHistory,
            'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700':
              !isHistory
          }"
          >History</a
        >
      </div>
      <div class="-mr-2 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="toggleMenu($event)"
        >
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            [ngClass]="{
              hidden: isMobileMenuOpen,
              block: !isMobileMenuOpen,
              'h-6 w-6': true
            }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            [ngClass]="{
              hidden: !isMobileMenuOpen,
              block: isMobileMenuOpen,
              'h-6 w-6': true
            }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div *ngIf="isMobileMenuOpen" class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 pt-2 pb-3">
      <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
      <a
        href="#"
        [ngClass]="{
          'block border-l-4 py-2 pl-3 pr-4 text-base font-medium': true,
          'bg-indigo-50 border-indigo-500 text-indigo-700': isHome,
          'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700':
            !isHome
        }"
        >Home</a
      >
      <a
        href="#"
        [ngClass]="{
          'block border-l-4 py-2 pl-3 pr-4 text-base font-medium': true,
          'bg-indigo-50 border-indigo-500 text-indigo-700': isHistory,
          'border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700':
            !isHistory
        }"
        >History</a
      >
    </div>
  </div>
</nav>
